body {
  margin: 0;
}

header {
  background-image: url(../top.jpeg);
  height: 650px;
  background-size: cover;
  font-family: serif;
  font-weight: bold;
}

header h1 {
  padding-top: 160px;
  padding-left: 170px;
  font-size: 40px;
}

nav {
  height: 40px;
  background: whitesmoke;
  line-height: 40px;
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
}

nav ul {
  margin: 0;
  padding: 0 auto;
}

nav li {
  display: inline-block;
  margin: 0;
  text-align: center;
  width: 15%;
}

nav a {
  color: black;
  text-decoration: none;
  font-family: serif;
  
}

ul {
  list-style: none;
}

.info {
  text-align: center;
  font-family: serif;
  font-size: 26px;
  width: 600px;
  margin: 0 auto;
}

.info h1{
  margin: 40px auto 10px;
  width: 90px;
  height: 40px;
  border-bottom: solid 5px greenyellow;
}

.info h2 {
  margin: 5px;
  font-size: 18px;
}

.info p {
  font-size: 18px;
  margin-bottom: 15px;
}


.call-to-action {
  font-family: serif;
  text-align: center;
  font-size: 20px;
}


.call-to-action .btn {
  background: rgb(205, 232, 238);
}

.call-to-action h1 {
  margin: 0;
  padding: 50px 0 10px;
}

.call-to-enter {
  font-family: serif;
  text-align: center;
  padding-bottom: 34px;
  font-size: 20px;
}


.call-to-enter .btn {
  background: rgb(205, 232, 238);
}



.call-to-enter h1 {
  margin: 0;
  padding-top: 160px;
}

.call-to-enter p {
  font-size: 17px;
  margin: 5px;
}


.entry {
  background-image: url(../../hokkaidou/kokuban1.jpg);
  background-size: cover;
  height: 700px;
  margin-top: 50px;
}

.entry h1 {
  text-align: center;
  font-size: 30px;
  font-family: serif;
  font-weight: bold;
  padding-top: 90px;
  margin: 0;
}

.entry h1, .entry p {
  color: white;
}

.btn {
  background: white;
  color: black;
  padding: 5px 20px;
  font-size: 15px;
  border-radius: 50%;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.8;
}

footer {
  background: grey;
  color: azure;
  text-align: center;
}

@media (max-width: 900px) {
  
  header {
    background-image: url(../top.jpeg);
    height: 300px;
    width: 100%;
    background-size: cover;
    font-family: serif;
    font-weight: bold;
  }
  
  header h1 {
    padding-top: 60px;
    padding-left: 40px;
    font-size: 25px;
  }
  
  nav {
    height: 40px;
    background: whitesmoke;
    line-height: 40px;
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0 auto;
  }
  
  nav li {
    display: inline-block;
    margin: 0;
    text-align: center;
    width: 15%;
  }
  
  nav a {
    color: black;
    text-decoration: none;
    font-family: serif;
    font-size: 8px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .info {
    text-align: center;
    font-family: serif;
    font-size: 18px;
    width: 350px;
    margin: 0 auto;
  }
  
  .info h1{
    margin: 30px auto 10px;
    width: 90px;
    height: 40px;
    border-bottom: solid 2px greenyellow;
  }
  
  .info h2 {
    margin: 5px;
    font-size: 14px;
  }
  
  .info p {
    font-size: 13px;
    margin-bottom: 15px;
  }
  
  
  .call-to-action {
    font-family: serif;
    text-align: center;
    font-size: 20px;
  }
  
  
  .call-to-action .btn {
    background: rgb(205, 232, 238);
  }
  
  .call-to-action h1 {
    margin: 0;
    padding: 50px 0 10px;
  }
  
  .call-to-enter {
    font-family: serif;
    text-align: center;
    padding-bottom: 34px;
    font-size: 20px;
  }
  
  
  .call-to-enter .btn {
    background: rgb(205, 232, 238);
  }
  
  
  
  .call-to-enter h1 {
    margin: 0;
    padding-top: 160px;
  }
  
  .call-to-enter p {
    font-size: 13px;
    margin: 5px;
  }
  
  
  .entry {
    background-image: url(../kokuban1.jpg);
    background-size: cover;
    height: 500px;
    margin-top: 50px;
  }
  
  .entry h1 {
    text-align: center;
    font-size: 18px;
    font-family: serif;
    font-weight: bold;
    padding-top: 45px;
    margin: 0;
  }
  
  .entry h1, .entry p {
    color: white;
  }
  
  .btn {
    background: white;
    color: black;
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 50%;
    text-decoration: none;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  footer {
    background: grey;
    color: azure;
    text-align: center;
  }

  
  
}