
 body {
  margin: 0;
  text-align: center;
}

.top {
  background-image: url(../top.jpeg);
  height: 650px;
  background-size: cover;
  font-family: serif;
  font-weight: bold;
}

.top h1 {
  padding-top: 160px;
  padding-left: 170px;
  font-size: 40px;
  width: 300px;
}

header {
  display: none;
}
.logo {
  opacity: 0;
  pointer-events: none;
}

.overlay {
  opacity: 0;
  pointer-events: none;
}

.pc-menu {
  height: 50px;
  background: whitesmoke;
  line-height: 50px;
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
}

.pc-menu ul {
  margin: 0;
  padding: 0 auto;
}

.pc-menu li {
  display: inline-block;
  margin: 0;
  text-align: center;
  width: 15%;
}

.pc-menu a {
  color: black;
  text-decoration: none;
  font-family: serif;
  font-size: 18px;
}

.sp-menu {
  opacity: 0;
  pointer-events: none;
}

ul {
  list-style: none;
}

.info {
  text-align: center;
  font-family: serif;
  font-size: 26px;
  width: 600px;
  margin: 0 auto;
}

.info h1{
  margin: 40px auto 10px;
  width: 90px;
  height: 40px;
  border-bottom: solid 5px greenyellow;
}

.info h2 {
  margin: 5px;
  font-size: 18px;
}

.info p {
  font-size: 18px;
  margin-bottom: 15px;
}


.call-to-action {
  font-family: serif;
  text-align: center;
  font-size: 20px;
}


.call-to-action .btn {
  background: rgb(205, 232, 238);
}

.call-to-action h1 {
  margin: 0;
  padding: 50px 0 10px;
}

.call-to-enter {
  font-family: serif;
  text-align: center;
  padding-bottom: 34px;
  font-size: 20px;
}


.call-to-enter .btn {
  background: rgb(205, 232, 238);
}



.call-to-enter h1 {
  margin: 0;
  padding-top: 160px;
}

.call-to-enter p {
  font-size: 17px;
  margin: 5px;
}


.entry {
  background-image: url(../../hokkaidou/kokuban1.jpg);
  background-size: cover;
  height: 700px;
  margin-top: 50px;
}

.entry h1 {
  text-align: center;
  font-size: 30px;
  font-family: serif;
  font-weight: bold;
  padding-top: 90px;
  margin: 0;
}

.entry h1, .entry p {
  color: white;
}

.btn {
  background: white;
  color: black;
  padding: 5px 20px;
  font-size: 15px;
  border-radius: 50%;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.8;
}

footer {
  background: black;
  text-align: center;
  color: aliceblue;
  height: 300px;
  font-family: serif;
}

footer h1 {
  font-size: 30px;
  padding-top: 60px;
  margin-top: 0px;
}

footer h2 {
  font-size: 15px;
  padding-top: 80px;
}



@media (max-width: 900px) {
  
  .top {
    background-image: url(../top.jpeg);
    height: 300px;
    width: 100%;
    background-size: cover;
    font-family: serif;
    font-weight: bold;
  }
  
  .top h1 {
    padding-top: 80px;
    margin: 0;
    padding-left: 15px;
    font-size: 25px;
    width: 250px;
  }
  
  .logo {
    opacity: 1;
    pointer-events: auto;
  }

  .logo h1 {
    font-size: 22px;
    font-family: serif;
  }

  .sp-menu {
    opacity: 1;
    pointer-events: auto;
  }

  
  body {
    margin: 0;
    font-family:  sans-serif;
  }

  header {
    display: flex;
    padding: 0 16px;
    position: fixed;
    right: 0px;
    left: 0px;
    background: whitesmoke;
    height: 50px;
  }
  
  header h1 {
    margin: 0;
    font-size: 22px;
    line-height: 50px;
  }
  
  
  
  .sp-menu {
    margin-left: auto;
  }
  
  .sp-menu #open {
    font-size: 32px;
    line-height: 50px;
    cursor: pointer;
  }
  
  .sp-menu #open.hide {
    display: none;
  }
  
  main {
    padding: 0 16px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: whitesmoke;
    text-align: center;
    padding: 64px;
    transition: opacity .6s;
  }
  
  .mokuzi {
    font-family: serif;
  }

  .mokuzi a {
    text-decoration: none;
    color: black;
    font-size: 20px;

  }


  .pc-menu {
    opacity: 0;
    pointer-events: none;
  }
  
  .overlay.show {
    opacity: 1;
    pointer-events: auto;
  }
  
  .overlay #close {
    position: absolute;
    top: 0px;
    right: 16px;
    font-size: 32px;
    cursor: pointer;
    opacity: 1;
    line-height: 50px;
  }

  .overlay ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .overlay li {
    margin-top: 24px;
    opacity: 0;
    transform: translateY(16px);
    transition: opacity .3s, transfrm .3s;
  }

  .overlay.show li {
    opacity: 1;
    transform: none;
  }

  .overlay.show li:nth-child(1) {
    transition-delay: .1s;
  }

  .overlay.show li:nth-child(2) {
    transition-delay: .2s;
  }

  .overlay.show li:nth-child(3) {
    transition-delay: .3s;
  }

  
  .info {
    text-align: center;
    font-family: serif;
    font-size: 18px;
    width: 350px;
    margin: 0 auto;
  }
  
  .info h1{
    margin: 30px auto 10px;
    width: 90px;
    height: 40px;
    border-bottom: solid 2px greenyellow;
  }
  
  .info h2 {
    margin: 5px;
    font-size: 14px;
  }
  
  .info p {
    font-size: 13px;
    margin-bottom: 15px;
  }
  
  
  .call-to-action {
    font-family: serif;
    text-align: center;
    font-size: 20px;
  }
  
  
  .call-to-action .btn {
    background: rgb(205, 232, 238);
  }
  
  .call-to-action h1 {
    margin: 0;
    padding: 50px 0 10px;
  }
  
  .call-to-enter {
    font-family: serif;
    text-align: center;
    padding-bottom: 34px;
    font-size: 20px;
  }
  
  
  .call-to-enter .btn {
    background: rgb(205, 232, 238);
  }
  
  
  
  .call-to-enter h1 {
    margin: 0;
    padding-top: 160px;
  }
  
  .call-to-enter p {
    font-size: 13px;
    margin: 5px;
  }
  
  
  .entry {
    background-image: url(../kokuban1.jpg);
    background-size: cover;
    height: 500px;
    margin-top: 50px;
  }
  
  .entry h1 {
    text-align: center;
    font-size: 18px;
    font-family: serif;
    font-weight: bold;
    padding-top: 45px;
    margin: 0;
  }
  
  .entry h1, .entry p {
    color: white;
  }
  
  .btn {
    background: white;
    color: black;
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 50%;
    text-decoration: none;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  footer {
    background: black;
    color: azure;
    text-align: center;
  }

  
} 